body {
	background-size: cover;
	background-repeat: no-repeat;
}
h1,p,.divc {
	color: #ffffff;
	text-align: center;
}
lable {
	color: #ffffff;
}
.input_elem{
	color: #000000;
}
.input_div {
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 8px;
}
.button {
  background-color: #ff6600;
  border: none;
  color: white;
  padding: 10px 84px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #ffff00;
  color: black;
}
.output_div {
	color: #ffffff;
}
.price {
	color: #66ff33;
} 